<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<body>
<h1>Books We have Available</h1>

<span th:each="book:${books}">
    <span th:text="${book.title} + ': ' + ${book.author}"></span>
</span>

<form th:action="@{/books}" th:object="${book}" method="post">
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p>Author: <input type="text" th:field="*{author}" /></p>
    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>

</body>
</html>